.container{
    margin: 10px;
    width: 300px;
    background-color: #ececec;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #9e9e9e;
    cursor: pointer;
}

.container img{
    width: 300px;
    height: 200px;
}

.container h3{
    color: black;
    margin: 30px 20px 20px;
}

.container p{
    margin: 0px 25px 20px;
    background-color: green;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

.counter{
    display: flex;
    align-items: center;
    border-top: 1px silver solid;
}

.counter img{
    width: 30px;
    height: fit-content;
    margin: 20px;
    cursor: pointer;
}

.counter span{
    background-color: darkslategray;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.deactive{
    opacity: 0.3;
}