/* hazfe padding o margin haye default. in file fght baraye hamin mowzoo has o bara hamin ham b 
raveshe ghadim sakhtim o too khode src mostaghim neveshtimesh */

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
